@import '_mixins';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body {
	margin: 0 auto;
	background-image: url(../imageMin/searchBckg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	overflow: hidden;
}
::-webkit-scrollbar { 
    display: none; 
}
input::-webkit-input-placeholder {
    font-size: 12px;
    font-weight: bolder;
}
.navigation {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100%;
	padding-bottom: 50px;
	transition: 1s;

	&__search {
		

		&--btn {
			margin: 10px;
			padding: 10px;
			font-size: 25px;
			font-weight: bolder;
			color: #FFFFFF;
			@include border-radius(5px);
			border: none;
			cursor: pointer;
			outline: none;
			background-color: #4FAADB;

			&:hover {
				background-color: rgba(79, 170, 219, 0.8);
			}
		}
		&--input {
			height: 60px;
			width: auto;
			white-space: normal;
			font-size: 20px;
			font-weight: bolder;
			text-transform: uppercase;
			text-align: center;
			outline: none;
			@include border-radius(10px);
			margin: 20px;
		}
	}
	h1 {
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
		text-shadow: 5px 5px #000000;
		color: #FF0004;
		margin: 0;
		padding: 50px;
	}
}

.fixed__btnSearch {
	position: fixed;
	top: 2%;
	right: 5%;
	cursor: pointer;
	background-color: blue;
	border: none;
	color: #FFFFFF;
	padding: 20px;
	@include border-radius(50px);
	outline: none;

	.fa-search {
		font-size: 35px;
	}
}

.search {
	overflow: scroll;
	overflow-x: hidden;
	max-height: 100vh;

	&__countries {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 100px;

		&--box {
			display: flex;
			flex-direction: column;
			margin: 10px;
			padding: 20px;
			background-color: rgba(0, 0, 0, 0.8);
			@include border-radius(10px);
			color: #FFFFFF;
			width: 300px;
			height: auto;

			.flagImg {
				align-self: center;
				margin: 20px;
				height: 100px;
				width: 150px;
			}
			h2 {
				color: green;
				align-self: center;
				font-size: 30px;
			}
			p {
				align-self: flex-start;
				margin: 20px 0;
				font-size: 18px;
				text-shadow: 3px 3px #000000;
				font-weight: bolder;
			}
		}
	}
}

@keyframes jump {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY, 0);
  }
	40% {
    @include transform(translateY, -30px);
  }
	60% {
    @include transform(translateY, -15px);
  }
}

